section.card-deck {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  transform: rotate(-3deg);

  & div.card {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 11px;
    background: url("../../assets/img/cards/card-back.webp") no-repeat;
    background-size: 118% 108%;
    background-position: 50% 48%;
  }

  & div.card:nth-child(1) {
    transform: translate(2px, 2px);
    z-index: 2;
  }

  & div.card:nth-child(2) {
    transform: translate(4px, 4px);
    z-index: 3;
  }

  & div.card:nth-child(3) {
    transform: translate(6px, 6px);
    z-index: 4;
  }

  & div.card:nth-child(4) {
    transform: translate(8px, 8px);
    z-index: 5;
  }

  & div.card:nth-child(5) {
    transform: translate(10px, 10px);
    z-index: 6;
  }
}
