<section class="card-selection-display">

@if( tarotDealer.selectedCards().length > 0 ){
  @for( card of tarotDealer.selectedCards(); let i = $index; track card.number ){
    <div class="card-wrapper">

      <div class="card-slot">
       <app-card [card]="card" (click)="onclickCard (card)" />
      </div>
      <article class="prediction">
      @if( card.prediction){
         {{ card.prediction }}
       }
      </article>
      @if(loader() && cardLoading() === card.number ){
        <app-loading />
      }
    </div>
  }


} @else {
  <div class="card-slot"></div>
  <div class="card-slot"></div>
  <div class="card-slot"></div>
}


</section>


