/* You can add global styles to this file, and also import other style files */
:root {
  // Card styles
  --card-width: 174px;
  --card-height: 255px;
  --card-border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
